/* C'est ici que je style mes contenaires */ /**/
.flex-container0{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.flex-container01{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex-container1{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.flex-logo{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.plan{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 70px;
}
.page5{
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    gap: -50px;
}
.endmenu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
/* C'est ici que je style mes boxs de manière générale */
.flex-container0 > div {
    width: auto;
    margin: 10px;
    /*text-align: center; Je pensais que ça allait être réécrit mais non*/
    line-height: 15px;
    font-size: 15px;
}
.flex-container01 > div {
    width: 100px;
    padding-top: 12px;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
}
.flex-container1 > div {
    text-align: left;
    width: 330px;
}
.flex-logo > div {
    width: 300px;
    filter: grayscale(100%);
    opacity: 0.4;
}
.plan > div {
    text-align: center;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 3px 3px 3px gray;

}
.plan > div:hover{ /* quand on passe dessus */
    box-shadow: none;
}
.page5 > div {
    background-color: rgb(255, 114, 53);
}
.endmenu > div {
    width: 300px;
    text-align: left;
}
/* C'est ici que je modifie chaque box comme je le désire*/
.pense{
    text-align: left;
    font-weight: bold;
    padding: 12px;
}
.demo{
    padding: 12px;
    text-align: right;
    color: rgb(255, 114, 53);
    border: 3px solid rgb(255, 114, 53);
    border-radius: 10px;
}
/* Style de la partie 1 */
.meufdroite{
    float: right;
}
.p1gras{
    font-size: 120px;
    margin-right: 600px;
}
.freedemo{
    margin-right: 60px;
    margin-left: 30px;
    border: 3px solid rgb(255, 114, 53);
    border-radius: 10px;
    background-color: rgb(255, 114, 53);
    color: white;
    padding: 12px;
    font-size: 30px;
}
.p1gris{
    color: gray;
    margin-right: 650px;
    font-size: 30px;
}
.p1gris1{
    color: gray;
    font-size: 30px;
}
/* Style de la partie 2 */
.graphique{
    background-color: rgb(255, 114, 53); /* Je sais que je dois pas simplement mettre une couleur mais je ne sais pas comment faire les formes du site (pas encore) */
    padding-left: 150px;
    padding-top: 50px;
}
/* Style de la partie 3 */
.cuisine{
    float: right;
}
.learn{
    font-size: 30px;
    color: rgb(255, 114, 53);
}
/* Style de la partie 4 */
.titreplan{
    font-size: 50px;
    font-weight: bold;
}
.detailplan{
    font-size: 30px;
}
.p4gris{
    color: gray;
}
.p4gris:first-child{
    color: black;
    font-weight: bold;
}
.get0{
    border: 3px solid rgb(255, 114, 53);
    border-radius: 15px;
    padding: 12px;
    color: rgb(255, 114, 53);
    font-size: 30px;
}
.get1{
    background-color: rgb(255, 114, 53);
    border-radius: 15px;
    padding: 12px;
    color: white;
    font-size: 30px;
}
.p4gras{
    font-size: 120px;
    font-weight: bold;
    margin-left: 80px;
}
/* Style de la partie 5 */
.happy{
    margin: 10px;
}
.imgbox{
    position: relative;
}
.textedansimage{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.p5grasblanc{
    font-size: 80px;
    color: white;
    width: 800px;
    margin-left: 25%;
}
.p5grandblanc{
    font-size: 40px;
    color: white;
}
.textedansimage{
    background-color: white;
    color: rgb(255, 114, 53);
    border-radius: 15px;
    padding: 12px;
}
/* Style de la partie 6 */
.links{
    text-align: left;
}
.legal{
    text-align: left;
}
.newsletter{
    text-align: left;
    width: 300px;
}
.email{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 10px;
}
.emailbtn{
    font-size: 12px;
    text-align: center;
    background-color: rgb(255, 114, 53);
    border-radius: 15px;
    padding: 5px;
    color: white;
}
.email > div{
    width: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.endmenu{
    font-weight: bold;
}
.over{
    color: gray;
    opacity: 0.6;
    font-size: 20px;
}
.sell{
    color: gray;
    opacity: 0.6;
    font-size: 10px;
}
.footer{
    display: flex;
    flex-direction: row;
}
.minilogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
}
.terms{
    width: 200px;
}
.contact{
    width: 400px;
}
.copy{
    width: 800px;
}
/* Faire une recherche pour le id */